<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>More Recipes</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

	<nav class="pink darken-3" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Recipes</a>
			<!-- Navigation menu for full screen-->
			<ul class="right hide-on-med-and-down">
				<li><a href="#"><i class="material-icons left">bubble_chart</i>Dashboard</a></li>
			</ul>
			<!-- Navigation view for mobile view -->
			<ul class="side-nav" id="nav-mobile">
				<li><a href="#">Recipes</a></li>
				<li><a href="signup.html">Register</a></li>
				<li><a href="signin.html">Login</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>



	<!-- Recipes Section -->
	<div class="container">
		<div class="section">
			<h2 class="center pink-text text-darken-2">Dashboard
				<div class="divider"></div>
			</h2>

			<div class="row">
				<div class="col s12 m4">
					<div class="card center">
						<a href="my_recipes.html" class=" waves-effect waves-light pink lighten-4">
							<div class="card waves-effect waves-light">
								<div class="card-content center">
									<i class="material-icons large">directions_boat</i>
								</div>
								<div class="card-action">
									<strong class="pink-text text-darken-2 center">View or edit recipes.</strong>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col s12 m4 ">
					<div class="card center">
						<a href="favourites.html" class=" waves-effect waves-light pink lighten-4">
							<div class="card waves-effect waves-light">
								<div class="card-content center">
									<i class="material-icons large">favorite</i>
								</div>
								<div class="card-action">
									<strong class="pink-text text-darken-2 center">View favourite recipes.</strong>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col s12 m4 ">
					<div class="card center">
						<a href="recipe_list.html" class=" waves-effect waves-light pink lighten-4">
							<div class="card waves-effect waves-light">
								<div class="card-content center">
									<i class="material-icons large">cake</i>
								</div>
								<div class="card-action">
									<strong class="pink-text text-darken-2 center">View all recipes.</strong>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- the close of the first row of the first recipes -->
				<div class="row ">
					<div class="col s12 m4 ">
						<div class="card center">
							<a href="#" class=" waves-effect waves-light pink lighten-4">
								<div class="card waves-effect waves-light">
									<div class="card-content center">
										<i class="material-icons large">email</i>
									</div>
									<div class="card-action">
										<strong class="pink-text text-darken-2 center">Notification.</strong>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col s12 m4 ">
						<div class="card center">
							<a href="profile.html" class=" waves-effect waves-light pink lighten-4">
								<div class="card waves-effect waves-light">
									<div class="card-content center">
										<i class="material-icons large">account_box</i>
									</div>
									<div class="card-action">
										<strong class="pink-text text-darken-2 center">View or edit profile.</strong>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col s12 m4 ">
						<div class="card center">
							<a href="/index.html" class=" waves-effect waves-light pink lighten-4">
								<div class="card waves-effect waves-light">
									<div class="card-content center">
										<i class="material-icons large">power_settings_new</i>
									</div>
									<div class="card-action">
										<strong class="pink-text text-darken-2 center">Logout</strong>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
			<!-- end row-->
		</div>
		<!-- end section-->








	</div>

	<footer class="page-footer ">

	</footer>

























	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
	<script src="public/js/materialize.js "></script>
	<script src="public/js/init.js "></script>
</body>

</html>