<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>More Recipes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <nav class="pink darken-3" role="navigation">
    <div class="nav-wrapper">
      <!-- Navigation menu for full screen-->
      <ul class="right hide-on-med-and-down">
        <li><input type="text" placeholder="search"></li>
        <li><a href="#"><i class="material-icons left">search</i></a></li>
      </ul>
      <ul class="left ">
        <li><a id="logo-container" href="index.html" style="font-size:25px;">More Recipes</a></li>
      </ul>
      <!-- Navigation view for mobile view -->
      <ul id="side-out" class="grey lighten-3 side-nav">

        <li>
          <div class="user-view">
            <div class="background">
              <img src="public/images/recipe2.jpg">
            </div>
            <a href="#!user"><img class="circle" src="public/images/avatar.jpg"></a>
            <a href="#!name"><span class="white-text name">Dorcas Williams</span></a>
            <a href="#!email"><span class="white-text email">dorcas@gmail.com</span></a>
          </div>
        </li>
        <li><a class="pink-text text-darken-3"><i class="material-icons left">bubble_chart</i>Menu</a></li>
        <li><a href="recipe_list.html"><i class="material-icons">directions_boat</i>All Recipes</a></li>
        <li><a href="my_recipes.html"><i class="material-icons">cake</i>My Recipes</a></li>
        <li><a href="favourites.html"><i class="material-icons">favorite</i>Favourite</a></li>
        <li><a href="#!"><i class="material-icons">email</i>Notification</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a href="profile.html"><i class="material-icons">account_box</i>Profile</a></li>
        <li><a href="#!"><i class="material-icons">brightness_low</i>Profile setting</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a href="../index.html">Logout</a></li>

      </ul>

      <a href="#" data-activates="side-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>


    </div>
  </nav>


  <!--body section of account-->
  <main>
    <div class="container main-container grey lighten-4">
      <div class="row">
        <div style=" margin-top:30px; border-radius:10px 10px 10px 10px;" class="pink darken-3 col s12 m12">
          <div class="col s12 m4">
            <img class="circle" src="public/images/avatar.jpg " class="responsive-img" style="height:150px; width:150px;">
          </div>
          <div style=" margin-top:30px;" class=" col s12 m7">
            <h4 class="card-title pink-text text-lighten-4">Dorcas Williams</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="col s12 m12">
          <div class="row">
            <div class="input-field col s12 m12">
              <input placeholder="Fullname" id="fullname" type="text" class="validate" value="Dorcas Williams" readonly>
              <label for="fullname">Fullname</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
              <input placeholder="Username" id="username" type="text" class="validate" value="Dorcas@" readonly>
              <label for="username">Username</label>

            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
              <input placeholder="email" id="email" type="text" class="validate" value="dorcas@gmail.com" readonly>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
              <input placeholder="password" id="password" type="text" class="validate" value="111232" readonly>
              <label for="password">Password</label>
            </div>
          </div>
        </form>
      </div>
  </main>

  <footer class="page-footer pink darken-3">
    <div class="footer-copyright pink darken-3">
      <div style="padding-left:15px;">
        Jonathan Williams Copyright © 2017
        <a class="grey-text text-lighten-4 " href="https://github.com/Jonathan4github/more-recipes ">Andela Boot-camp-28 UI Project</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src=" https://code.jquery.com/jquery-2.1.1.min.js "></script>
  <script src="public/js/materialize.js "></script>
  <script src="public/js/init.js "></script>
</body>

</html>