<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>More Recipes</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

	<nav class="pink darken-3" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="index.html" class="brand-logo"></a>
			<!-- Navigation menu for full screen-->
			<ul class="right hide-on-med-and-down">
				<li><a href="dashboard.html"><i class="material-icons left">bubble_chart</i>Dashboard</a></li>
			</ul>
			<!-- Navigation view for mobile view -->
			<ul id="side-out" class="grey lighten-3 side-nav fixed">
				<li>
					<div class="user-view">
						<div class="background">
							<img src="public/images/recipe2.jpg">
						</div>
						<a href="#!user"><img class="circle" src="public/images/avatar.jpg"></a>
						<a href="#!name"><span class="white-text name">Dorcas Williams</span></a>
						<a href="#!email"><span class="white-text email">dorcas@gmail.com</span></a>
					</div>
				</li>
				<li><a href="recipe_list.html"><i class="material-icons">directions_boat</i>Recipes</a></li>
				<li><a href="#!"><i class="material-icons">favorite</i>Favourite</a></li>
				<li><a href="#!"><i class="material-icons">email</i>Notification</a></li>
				<li>
					<div class="divider"></div>
				</li>
				<li><a href="#!"><i class="material-icons">account_box</i>Profile</a></li>
				<li><a href="#!"><i class="material-icons">brightness_low</i>Profile setting</a></li>
				<li>
					<div class="divider"></div>
				</li>
				<li><a href="index.html">Logout</a></li>

			</ul>
			<a href="#" data-activates="side-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>

		</div>
	</nav>

	<!--body section of account-->
	<main>
		<div class="container main-container grey lighten-4">
			Recipe Detail
			<div class="divider" style="margin-bottom:10px;"></div>
			<div class="row">
				<div class="col s12 m5">
					<img src="public/images/recipe3.jpg" alt="recipe3" class="responsive-img" style="height:250px; width:250px;">
				</div>
				<div class="col s12 m7">
					<a class="btn-large waves-effect waves-light pink lighten-4" style="margin-top:10px;"><img src="public/images/avatar2.jpg" class="pink darken-3 btn-large"></a>
					<span class="card-title grey-text text-darken-2">Recipe by :</span> Sarah Williams
					<div class="card-content">
						<blockquote>
							Why compromise the banana flavor? This banana bread is moist and delicious with loads of banana flavor! Friends and family love my recipe and say it's
							by far the best! It's wonderful toasted!! Enjoy!
						</blockquote>
					</div>
					<div class="divider" style="margin-bottom:10px;"></div>
					<div class="card-action">
						<span><i class="material-icons">group</i>&nbsp;<sup>270</sup></span>&nbsp;
						<span><i class="material-icons">star</i>&nbsp;<sup>43</sup></span>
						<span><i class="material-icons">thumb_up</i>&nbsp;<sup>13</sup>&nbsp;</span>
						<span><i class="material-icons ">thumb_down</i>&nbsp;<sup>13</sup></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m12">
					<span class="card-title" style="margin-top:10px;">Ingredients</span>
					<span class="right"><i class="material-icons material-icons-align">access_time</i>1h 20m</span>
					<div class="divider"></div>
					<ul class="card-content grey-text text-darken-2">
						<li><i class="material-icons material-icons-align material-icons-pink">add_box</i>2 cups all-purpose flour</li>
						<li><i class="material-icons material-icons-align material-icons-pink">add_box</i>1 teaspoon baking soda</li>
						<li><i class="material-icons material-icons-align material-icons-pink">add_box</i>1/4 teaspoon salt</li>
						<li><i class="material-icons material-icons-align material-icons-pink">add_box</i>1/2 cup butter</li>
						<li><i class="material-icons material-icons-align material-icons-pink">add_box</i>3/4 cup brown sugar</li>
						<li><i class="material-icons material-icons-align material-icons-pink">add_box</i>2 eggs, beaten</li>
						<li><i class="material-icons material-icons-align material-icons-pink">add_box</i>2 1/3 cups mashed overripe bananas</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col s12 m12">
					<span class="card-title">Directions</span>
					<div class="divider"></div>
					<div class="card-content grey-text text-darken-2" style="padding:10px;">
						<div style="padding:10px;">
							<a class="btn-floating btn-small waves-effect pink darken-3 center">1</a> Preheat oven to 350 degrees F (175 degrees C). Lightly grease a 9x5 inch
							loaf pan.
						</div>
						<div style="padding:10px;">
							<a class="btn-floating btn-small waves-effect pink darken-3 center">2</a> In a large bowl, combine flour, baking soda and salt. In a separate bowl,
							cream together butter and brown sugar. Stir in eggs and mashed bananas until well blended. Stir banana mixture into flour mixture; stir just to
							moisten. Pour batter into prepared loaf pan.
						</div>
						<div style="padding:10px;">
							<a class="btn-floating btn-small waves-effect pink darken-3 center">3</a> Bake in preheated oven for 60 to 65 minutes, until a toothpick inserted
							into center of the loaf comes out clean. Let bread cool in pan for 10 minutes, then turn out onto a wire rack.
						</div>
					</div>

				</div>
			</div>
			<div class="row center">
				<div class="divider"></div>
				<div style="padding:10px;">
					<span style="padding-right:20px;"><i class="material-icons material-icons-align">favorite</i></span>
					<span style="padding-right:15px;"><i class="material-icons material-icons-align">thumb_up</i></span>
					<span style="padding-right:15px;"><i class="material-icons material-icons-align">thumb_down</i></span>
					<span style="padding-right:15px;"><i class="material-icons material-icons-align">chat</i></span>
				</div>
			</div>
			<div class="row">
				<div class="divider"></div>
				<h5>Review</h5>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">textsms</i>
							<input type="text" id="autocomplete-input" class="autocomplete">
							<label for="autocomplete-input">Enter text here...</label>
						</div>
					</div>
				</div>
			</div>
	</main>



























	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="public/js/materialize.js"></script>
	<script src="public/js/init.js"></script>
</body>

</html>